@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<style>
    body {
        background-color: #edfffe;
        background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
    }
</style>
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

