@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}
<style>
    body {
        background-color: #edfffe;
        background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
    }
</style>
<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>
