@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-color: #edfffe;
        background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
        font-size: large;
    }
</style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
