@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 example lane<br />
    Indianapolis, IN<br />
    <abbr title="Phone">P:</abbr>
    317-555-1212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Example Support!</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Free Marketing?!?</a>
</address>