@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-color: #edfffe;
        background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
        font-size: large;
    }
</style>
<div class="jumbotron">
    <h1>CPD</h1>
    <p class="lead">C.P.D. Customers - Projects - and - Data</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

